In [1]:
from dao.database import  Database
import psycopg2
import psycopg2.extras

In [28]:
db = Database()

In [29]:
conn = db.get_connection()

connection established succefully

In [17]:
cursor = conn.cursor(cursor_factory=psycopg2.extras.DictCursor)

In [18]:
cursor.execute("select * from availability_slots")

In [19]:
row = cursor.fetchall()

In [20]:
row[0]['id']

2

In [21]:
import pandas as pd
df = pd.read_sql_query("SELECT * FROM availability_slots", conn)

print(df)

/tmp/ipykernel_34992/4224871420.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query("SELECT * FROM availability_slots", conn)

    id  provider_id        date start_time  end_time     status  \
0    2            1  2025-08-30   10:00:00  11:00:00     booked
1    6            1  2025-08-30   16:00:00  17:00:00     booked
2    7            1  2025-08-30   17:00:00  18:00:00     booked
3    3            1  2025-08-30   11:00:00  12:00:00     booked
4    4            1  2025-08-30   14:00:00  15:00:00     booked
5    5            1  2025-08-30   15:00:00  16:00:00     booked
6    8            1  2025-08-30   18:00:00  19:00:00     booked
7    1            1  2025-08-30   09:00:00  10:00:00     booked
8    9            1  2025-09-12   09:00:00  10:00:00  available
9   10            1  2025-09-12   10:00:00  11:00:00  available
10  11            2  2025-09-12   11:00:00  12:00:00     booked
11  12            2  2025-09-13   14:00:00  15:00:00  available
12  13            1  2025-09-13   15:00:00  16:00:00  available

                   created_at  type_id
0  2025-08-30 11:16:46.675686      NaN
1  2025-08-30 11:16:46.675686      NaN
2  2025-08-30 11:16:46.675686      NaN
3  2025-08-30 11:16:46.675686      NaN
4  2025-08-30 11:16:46.675686      NaN
5  2025-08-30 11:16:46.675686      NaN
6  2025-08-30 11:16:46.675686      NaN
7  2025-08-30 11:16:46.675686      1.0
8  2025-09-11 16:39:26.790811      1.0
9  2025-09-11 16:39:26.790811      1.0
10 2025-09-11 16:39:26.790811      2.0
11 2025-09-11 16:39:26.790811      2.0
12 2025-09-11 16:39:26.790811      1.0

In [22]:
df.head(20)

,id,provider_id,date,start_time,end_time,status,created_at,type_id
0,2,1,2025-08-30,10:00:00,11:00:00,booked,2025-08-30 11:16:46.675686,NaN
1,6,1,2025-08-30,16:00:00,17:00:00,booked,2025-08-30 11:16:46.675686,NaN
2,7,1,2025-08-30,17:00:00,18:00:00,booked,2025-08-30 11:16:46.675686,NaN
3,3,1,2025-08-30,11:00:00,12:00:00,booked,2025-08-30 11:16:46.675686,NaN
4,4,1,2025-08-30,14:00:00,15:00:00,booked,2025-08-30 11:16:46.675686,NaN
5,5,1,2025-08-30,15:00:00,16:00:00,booked,2025-08-30 11:16:46.675686,NaN
6,8,1,2025-08-30,18:00:00,19:00:00,booked,2025-08-30 11:16:46.675686,NaN
7,1,1,2025-08-30,09:00:00,10:00:00,booked,2025-08-30 11:16:46.675686,1.0
8,9,1,2025-09-12,09:00:00,10:00:00,available,2025-09-11 16:39:26.790811,1.0
9,10,1,2025-09-12,10:00:00,11:00:00,available,2025-09-11 16:39:26.790811,1.0
10,11,2,2025-09-12,11:00:00,12:00:00,booked,2025-09-11 16:39:26.790811,2.0
11,12,2,2025-09-13,14:00:00,15:00:00,available,2025-09-11 16:39:26.790811,2.0
12,13,1,2025-09-13,15:00:00,16:00:00,available,2025-09-11 16:39:26.790811,1.0

In [24]:
conn.close()

In [43]:
from dao.dao_factory import DAOFactory
# Initialize DAO
dao_factory = DAOFactory()
availability_dao = dao_factory.get_availability_dao()

# Example 1: Get slots starting at 9 AM (automatically searches 9:00-10:00)
morning_slots = availability_dao.get_slots_by_date_overlapping_time_range(
    date='2025-08-30',
    start_time='09:00',
    end_time = '12:00',
    provider_id=1  
)

connection established succefully

In [44]:
morning_slots

[{'slot_id': 3,
  'provider_id': 1,
  'date': datetime.date(2025, 8, 30),
  'start_time': datetime.time(11, 0),
  'end_time': datetime.time(12, 0),
  'status': 'available',
  'provider_name': 'Aparichit - Hair Stylist',
  'provider_email': 'aparichit.stylist@hairsalon.com',
  'provider_ph_no': '+1-555-0123',
  'provider_pref': {'specialties': ['mens_cuts', 'womens_cuts', 'coloring'],
   'salon_location': 'Kondhwa dhumdhakdaka salon',
   'experience_years': 8}}]

In [73]:
from dao.dao_factory import DAOFactory

dao_factory = DAOFactory()
appointment_dao = dao_factory.get_appointment_dao()

appointments = appointment_dao.get_all()

connection established succefully

In [74]:
appointments

[{'appointment_id': 2,
  'type_id': 1,
  'seeker_id': 5,
  'provider_id': 1,
  'slot_id': 1,
  'scheduled_time': datetime.datetime(2025, 8, 30, 9, 0, 0, 498000),
  'status': 'complete',
  'notes': None,
  'created_at': datetime.datetime(2025, 8, 30, 16, 47, 16, 498825),
  'updated_at': datetime.datetime(2025, 8, 30, 16, 47, 16, 498825)},
 {'appointment_id': 6,
  'type_id': 1,
  'seeker_id': 5,
  'provider_id': 1,
  'slot_id': 1,
  'scheduled_time': datetime.datetime(2025, 8, 30, 9, 0, 0, 498000),
  'status': 'booked',
  'notes': '',
  'created_at': datetime.datetime(2025, 9, 10, 9, 19, 24, 455425),
  'updated_at': datetime.datetime(2025, 9, 10, 9, 19, 24, 455425)},
 {'appointment_id': 7,
  'type_id': 1,
  'seeker_id': 5,
  'provider_id': 1,
  'slot_id': 3,
  'scheduled_time': datetime.datetime(2025, 8, 30, 11, 0),
  'status': 'booked',
  'notes': None,
  'created_at': datetime.datetime(2025, 9, 10, 9, 33, 31, 622260),
  'updated_at': datetime.datetime(2025, 9, 10, 9, 33, 31, 622260)},
 {'appointment_id': 8,
  'type_id': 1,
  'seeker_id': 5,
  'provider_id': 1,
  'slot_id': 4,
  'scheduled_time': datetime.datetime(2025, 8, 30, 14, 0),
  'status': 'booked',
  'notes': None,
  'created_at': datetime.datetime(2025, 9, 10, 9, 47, 43, 995761),
  'updated_at': datetime.datetime(2025, 9, 10, 9, 47, 43, 995761)},
 {'appointment_id': 9,
  'type_id': 1,
  'seeker_id': 5,
  'provider_id': 1,
  'slot_id': 4,
  'scheduled_time': datetime.datetime(2025, 8, 30, 14, 0),
  'status': 'booked',
  'notes': None,
  'created_at': datetime.datetime(2025, 9, 10, 9, 48, 19, 123216),
  'updated_at': datetime.datetime(2025, 9, 10, 9, 48, 19, 123216)},
 {'appointment_id': 10,
  'type_id': 1,
  'seeker_id': 5,
  'provider_id': 1,
  'slot_id': 4,
  'scheduled_time': datetime.datetime(2025, 8, 30, 14, 0),
  'status': 'booked',
  'notes': None,
  'created_at': datetime.datetime(2025, 9, 10, 9, 50, 51, 818023),
  'updated_at': datetime.datetime(2025, 9, 10, 9, 50, 51, 818023)}]

In [50]:
from dao.appointment_dao import Appointment
from datetime import datetime

appointment = Appointment(type_id=1, seeker_id=5, provider_id=1, slot_id= 1, scheduled_time=datetime(2025, 8, 30, 9, 0, 0, 498000), status='booked',
                          created_at=datetime.now().strftime("%Y-%m-%d %H:%M:%S")
                          )

appointment = appointment_dao.create(appointment)

connection established succefully

In [54]:
print(appointment)

<dao.appointment_dao.Appointment object at 0x743cd2b68580>

In [30]:

from datetime import date, time  

def insert_test_slots():
    conn = db.get_connection()
    cursor = conn.cursor()

    # Example test slots (change provider_id, type_id as per your DB)
    test_slots = [
        (1, date(2025, 9, 25), "09:00", "10:00", "available", 1),
        (1, date(2025, 9, 25), "10:00", "11:00", "available", 1),
        (2, date(2025, 9, 25), "11:00", "12:00", "booked", 1),
        (2, date(2025, 9, 25), "14:00", "15:00", "available", 1),
        (1, date(2025, 9, 25), "15:00", "16:00", "available", 1),
    ]

    insert_query = """
        INSERT INTO availability_slots (provider_id, date, start_time, end_time, status, type_id)
        VALUES (%s, %s, %s, %s, %s, %s)
    """

    try:
        cursor.executemany(insert_query, test_slots)
        conn.commit()
        print(f"Inserted {cursor.rowcount} test slots successfully.")
    except Exception as e:
        conn.rollback()
        print("Error inserting slots:", e)
    finally:
        conn.close()

In [31]:
insert_test_slots()

connection established succefully
Inserted 5 test slots successfully.